<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tesla.mapper.ConsumptionMapper">
    <resultMap id="BaseResultMap" type="com.tesla.domain.Consumption">
        <id column="id" property="id"/>
        <result column="cno" property="cno"/>
        <result column="status" property="status"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="pay_amount" property="payAmount"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="info" property="info"/>
        <result column="pay_time" property="payTime"/>
        <result column="payee_id" property="payee.id"/>
        <result column="customer_name" property="customerName"/>
        <result column="customer_tel" property="customerTel"/>
        <result column="car_licence" property="carLicence"/>
        <result column="car_type" property="carType"/>
        <result column="appointment_ano" property="appointmentAno"/>
        <result column="checkin_time" property="checkinTime"/>
        <result column="checkout_time" property="checkoutTime"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user_id" property="createUser.id"/>
        <result column="audit_time" property="auditTime"/>
        <result column="auditor_id" property="auditor.id"/>

        <result column="b_id" property="business.id"/>
        <result column="b_name" property="business.name"/>
    </resultMap>
    <delete id="deleteByPrimaryKey">
        delete
        from consumption
        where id = #{id}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into consumption (cno, status, total_amount, pay_amount, discount_amount, info,
                                 pay_time, payee_id, customer_name, customer_tel, car_licence, car_type,
                                 appointment_ano, checkin_time, checkout_time, business_id, create_time,
                                 create_user_id, audit_time, auditor_id)
        values (#{cno}, #{status}, #{totalAmount}, #{payAmount}, #{discountAmount}, #{info},
                #{payTime}, #{payee.id}, #{customerName}, #{customerTel}, #{carLicence}, #{carType},
                #{appointmentAno}, #{checkinTime}, #{checkoutTime}, #{business.id}, #{createTime},
                #{createUser.id}, #{auditTime}, #{auditor.id})
    </insert>
    <update id="updateByPrimaryKey">
        update consumption
        set cno             = #{cno},
            status          = #{status},
            total_amount    = #{totalAmount},
            pay_amount      = #{payAmount},
            discount_amount = #{discountAmount},
            info            = #{info},
            pay_time        = #{payTime},
            payee_id        = #{payee.id},
            customer_name   = #{customerName},
            customer_tel    = #{customerTel},
            car_licence     = #{carLicence},
            car_type        = #{carType},
            appointment_ano = #{appointmentAno},
            checkin_time    = #{checkinTime},
            checkout_time   = #{checkoutTime},
            business_id     = #{business.id},
            create_time     = #{createTime},
            create_user_id  = #{createUser.id},
            audit_time      = #{auditTime},
            auditor_id      = #{auditor.id}
        where id = #{id}
    </update>
    <update id="updateSum">
        update consumption
        set
            total_amount    = #{totalAmount},
            pay_amount      = #{payAmount},
            discount_amount = #{discountAmount}
        where id = #{id}
    </update>


    <resultMap id="BaseResultMap2" type="com.tesla.domain.Consumption">
        <id column="id" property="id"/>
        <result column="cno" property="cno"/>
        <result column="status" property="status"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="pay_amount" property="payAmount"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="info" property="info"/>
        <result column="pay_time" property="payTime"/>
        <result column="customer_name" property="customerName"/>
        <result column="customer_tel" property="customerTel"/>
        <result column="car_licence" property="carLicence"/>
        <result column="car_type" property="carType"/>
        <result column="appointment_ano" property="appointmentAno"/>
        <result column="checkin_time" property="checkinTime"/>
        <result column="checkout_time" property="checkoutTime"/>
        <result column="create_time" property="createTime"/>
        <result column="audit_time" property="auditTime"/>


        <result column="cu_id" property="createUser.id"/>
        <result column="cu_name" property="createUser.name"/>

        <result column="p_id" property="payee.id"/>
        <result column="p_name" property="payee.name"/>

        <result column="a_id" property="auditor.id"/>
        <result column="a_name" property="auditor.name"/>

        <result column="b_id" property="business.id"/>
        <result column="b_name" property="business.name"/>


    </resultMap>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap2">
        select c.id, c.cno, c.status, c.total_amount, c.pay_amount, c.discount_amount, c.info, c.pay_time,
               c.payee_id, c.customer_name, c.customer_tel, c.car_licence, c.car_type, c.appointment_ano, c.checkin_time,
               c.checkout_time, c.business_id, c.create_time, c.create_user_id, c.audit_time, c.auditor_id
                ,b.id as b_id,b.name as b_name,
               cu.id AS cu_id,cu.name AS cu_name,
               p.id AS p_id,p.name AS p_name,
               a.id AS a_id,a.name AS a_name
        from consumption c
                 JOIN business b  on c.business_id = b.id
                 JOIN employee cu on c.create_user_id = cu.id
                 left JOIN employee p on c.payee_id = p.id
                 left JOIN employee a on c.auditor_id = a.id
        where c.id =#{id}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id,
               cno,
               status,
               total_amount,
               pay_amount,
               discount_amount,
               info,
               pay_time,
               payee_id,
               customer_name,
               customer_tel,
               car_licence,
               car_type,
               appointment_ano,
               checkin_time,
               checkout_time,
               business_id,
               create_time,
               create_user_id,
               audit_time,
               auditor_id
        from consumption
    </select>
    <sql id="where_sql">
      <where>
        <if test="status != null">
          and c.status = #{status}
        </if>
        <if test="businessId != null">
          and c.business_id = #{businessId}
        </if>
        <choose>
          <when test="appointmentType == true">
            and appointment_ano is not null
          </when>
          <when test="appointmentType == false">
            and appointment_ano is null
          </when>
        </choose>
        <if test="customerName != null and customerName != ''">
          and c.customer_name like concat('%',#{customerName},'%')
        </if>
        <if test="customerTel != null and customerTel != ''">
          and c.customer_tel like concat('%',#{customerTel},'%')
        </if>
        <if test="AppointmentAno != null and AppointmentAno != ''">
          and c.appointment_ano = #{AppointmentAno}
        </if>
        <if test="beginPayTime != null">
          and c.pay_time >= #{beginPayTime}
        </if>
        <if test="endPayTime != null">
          and c.pay_time &lt;= #{endPayTime}
        </if>
      </where>
    </sql>
    <select id="selectForList" resultMap="BaseResultMap">
        select c.id, c.cno, c.status, c.total_amount, c.pay_amount, c.discount_amount, c.info, c.pay_time,
        c.payee_id, c.customer_name, c.customer_tel, c.car_licence, c.car_type, c.appointment_ano, c.checkin_time,
        c.checkout_time, c.business_id, c.create_time, c.create_user_id, c.audit_time, c.auditor_id
        ,b.id as b_id,b.name as b_name
        from consumption c
        JOIN business b
        on c.business_id = b.id
        <include refid="where_sql"></include>
    </select>
    <select id="selectByCno" resultMap="BaseResultMap">
        select id,
               cno,
               status,
               total_amount,
               pay_amount,
               discount_amount,
               info,
               pay_time,
               payee_id,
               customer_name,
               customer_tel,
               car_licence,
               car_type,
               appointment_ano,
               checkin_time,
               checkout_time,
               business_id,
               create_time,
               create_user_id,
               audit_time,
               auditor_id
        from consumption
        where cno = #{cno}
    </select>
    <select id="queryByCno" resultType="java.lang.Object">
        select id,
               cno,
               status,
               total_amount,
               pay_amount,
               discount_amount,
               info,
               pay_time,
               payee_id,
               customer_name,
               customer_tel,
               car_licence,
               car_type,
               appointment_ano,
               checkin_time,
               checkout_time,
               business_id,
               create_time,
               create_user_id,
               audit_time,
               auditor_id
        from consumption
        where cno = #{cno}
    </select>
</mapper>