<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tesla.mapper.SystemDictionaryMapper">
    <resultMap id="BaseResultMap" type="com.tesla.domain.SystemDictionary">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sn" property="sn"/>
        <result column="intro" property="intro"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey">
        delete
        from system_dictionary
        where id = #{id}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into system_dictionary (name, sn, intro, parent_id)
        values (#{name}, #{sn}, #{intro}, #{parentId})
    </insert>
    <update id="updateByPrimaryKey">
        update system_dictionary
        set name  = #{name},
            sn    = #{sn},
            intro = #{intro}
        where id = #{id}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select id, name, sn, intro, parent_id
        from system_dictionary
        where id = #{id}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, name, sn, intro, parent_id
        from system_dictionary
    </select>
    <select id="selectForList" resultType="com.tesla.domain.SystemDictionary">
        select id, name, sn, intro, parent_id
        from system_dictionary
    </select>
    <select id="queryByParentId" resultType="com.tesla.domain.SystemDictionary">
        select id, name, sn, intro, parent_id
        from system_dictionary
        where
        <choose>
            <when test="parentId == null">
                parent_id is null
            </when>
            <otherwise>
                parent_id =#{parentId}
            </otherwise>
        </choose>
    </select>
    <select id="selectBySn" resultMap="BaseResultMap">
      SELECT c.id,c.name,c.sn,c.intro,c.parent_id
      FROM system_dictionary c
      JOIN system_dictionary p
      ON c.parent_id = p.id
      where p.sn = #{sn}
    </select>
    <select id="selectItemById" resultMap="BaseResultMap">
        select id, name, sn, intro, parent_id
        from system_dictionary
        where parent_id = #{id}
    </select>
</mapper>